@import url("https://fonts.googleapis.com/css2?family=Lato&family=josefin+Sans");
/* normalize css */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Saira:wght@600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 85.375em) {
  html {
    font-size: 58%;
  }
}

@media only screen and (max-width: 78.12em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  background-color: #fafafa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  font-family: DM Sans;
}

::-moz-selection {
  color: #0072bc;
  background-color: #d6e9f5;
}

::selection {
  color: #0072bc;
  background-color: #d6e9f5;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 1fr;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr;
  -ms-grid-rows: max-content 1fr;
      grid-template-rows: -webkit-max-content 1fr;
      grid-template-rows: max-content 1fr;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow-x: hidden;
}

@media only screen and (max-width: 56.25em) {
  main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@-webkit-keyframes toggleLeft {
  100% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  75% {
    -webkit-transform: translateX(-0.5rem);
            transform: translateX(-0.5rem);
  }
  50% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  25% {
    -webkit-transform: translateX(0.5rem);
            transform: translateX(0.5rem);
  }
  0% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes toggleLeft {
  100% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  75% {
    -webkit-transform: translateX(-0.5rem);
            transform: translateX(-0.5rem);
  }
  50% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  25% {
    -webkit-transform: translateX(0.5rem);
            transform: translateX(0.5rem);
  }
  0% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: +1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: +1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes moveInRightRough {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: +1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes moveInRightRough {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: +1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes moveInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@-webkit-keyframes suspension {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  0% {
    -webkit-transform: sacle(1);
            transform: sacle(1);
  }
}

@keyframes suspension {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  0% {
    -webkit-transform: sacle(1);
            transform: sacle(1);
  }
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #f4f6fb;
  color: #515151;
}

h1 {
  font-family: "Saira", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 5rem;
  text-transform: uppercase;
  color: #ffffff;
}

@media only screen and (max-width: 56.25em) {
  h1 {
    font-size: 2.5rem;
  }
}

h2,
.heading-secondary {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.6rem;
  color: #747474;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media only screen and (max-width: 56.25em) {
  h2,
  .heading-secondary {
    font-size: 1.6rem;
  }
}

h3,
.heading-tertiary {
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: normal;
  color: #747474;
  display: inline-block;
}

@media only screen and (max-width: 56.25em) {
  h3,
  .heading-tertiary {
    font-size: 1.5rem;
  }
}

p {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

p:not(:last-child) {
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}

.active {
  color: #0072bc !important;
}

.tiny-svg {
  height: 1.6rem;
  width: 1.6rem;
  fill: #211c28;
}

@media only screen and (max-width: 56.25em) {
  .tiny-svg {
    height: 1.4rem;
    width: 1.4rem;
  }
}

.small-svg {
  height: 2rem;
  width: 2rem;
}

@media only screen and (max-width: 56.25em) {
  .small-svg {
    height: 1.8rem;
    width: 1.8rem;
  }
}

.medium-svg {
  height: 2.4rem;
  width: 2.4rem;
}

@media only screen and (max-width: 56.25em) {
  .medium-svg {
    height: 2.2rem;
    width: 2.2rem;
  }
}

.big-svg {
  height: 3.2rem;
  width: 3.2rem;
}

@media only screen and (max-width: 56.25em) {
  .big-svg {
    height: 3rem;
    width: 3rem;
  }
}

.navigation {
  -webkit-animation: moveInLeft 1s ease-in-out;
          animation: moveInLeft 1s ease-in-out;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 2px;
}

@media only screen and (max-width: 56.25em) {
  .navigation {
    -webkit-transform: translate(-500%, 0);
            transform: translate(-500%, 0);
    -webkit-transition: 0.3s -webkit-transform ease;
    transition: 0.3s -webkit-transform ease;
    transition: 0.3s transform ease;
    transition: 0.3s transform ease, 0.3s -webkit-transform ease;
  }
}

.navigation:hover {
  background-color: #fff;
}

.navigation .line {
  height: 1px;
  background-color: #e3e3e3;
  margin-top: 2rem;
}

.navigation__nav {
  list-style: none;
  width: 100%;
  margin-top: 2rem;
}

#auto-detect:checked ~ .navigation__nav--btn .off {
  display: block !important;
}

#auto-detect:checked ~ .navigation__nav--btn .on {
  display: none;
}

#auto-detect:checked ~ .navigation__nav--btn span {
  color: #747474;
}

@media only screen and (max-width: 78.12em) {
  .navigation__nav--hide-on-tab {
    display: none;
    opacity: 0;
  }
}

.navigation__nav li {
  position: relative;
  white-space: nowrap;
  margin: 2rem 0;
  padding: 0.8rem 1rem;
  -webkit-transition: color, -webkit-transform 0.45s ease-in-out;
  transition: color, -webkit-transform 0.45s ease-in-out;
  transition: color, transform 0.45s ease-in-out;
  transition: color, transform 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out;
}

@media only screen and (max-width: 78.12em) {
  .navigation__nav li {
    padding: 0.8rem 2rem;
  }
}

.navigation__nav li:not(:last-child) svg {
  margin-right: 1rem;
}

.navigation__nav li:last-child {
  color: #0072bc;
}

.navigation__nav li:last-child label span {
  margin-right: 1.3rem;
}

.navigation__nav li svg {
  fill: #747474;
}

.navigation__nav li svg.off {
  display: none;
}

.navigation__nav li:hover {
  color: #0072bc;
  border-radius: 50px 0 0 50px;
  text-align: center;
}

.navigation__nav li:hover svg {
  fill: #0072bc;
}

.navigation__nav li:hover:not(:last-child)::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  width: 0.4rem;
  height: 3.2rem;
  background: #0072bc;
  border-radius: 0px 3px 3px 0px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.navigation__nav--elements, .navigation__nav--btn {
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.table {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-collapse: collapse;
  background-color: #fff;
}

.table__head {
  margin-top: 3rem;
  width: 100vw;
  -webkit-animation: moveInUp 1s ease-in-out;
          animation: moveInUp 1s ease-in-out;
}

.table__head--filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  white-space: nowrap;
}

.table__head--filter svg {
  margin-left: 2rem;
}

.table td {
  -webkit-animation: moveInRightRough 1s ease-in-out;
          animation: moveInRightRough 1s ease-in-out;
  border: 1px solid #f0f0f0;
}

.table td a {
  color: #0072bc;
  display: inline-block;
}

.table td svg {
  fill: #747474;
}

.table th,
.table td {
  padding: 1.35rem;
  text-align: center;
  font-size: 1.6rem;
  word-break: break-all;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

@media only screen and (max-width: 56.25em) {
  .table th,
  .table td {
    padding: 1.35rem 0.2rem;
    word-spacing: -1px;
    letter-spacing: -0.5px;
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .table th,
  .table td {
    font-size: 1rem;
    padding: 1.35rem 0.1rem;
  }
}

.table th {
  position: -webkit-sticky;
  position: sticky;
  text-align: center;
  text-transform: capitalize;
  z-index: 1;
  word-break: keep-all;
  top: -0.1rem;
  background-color: #d6e9f5;
}

.table tr:nth-child(even) {
  background-color: #fafafa;
}

.table tbody tr:hover {
  background-color: #e4e4e4;
}

.table tbody tr:hover td {
  color: #0072bc;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 1;
  margin-top: -1rem;
}

.table tbody tr:hover svg {
  fill: #0072bc;
}

.jobs {
  margin-bottom: 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(35rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 2rem;
  overflow: auto;
  margin: 1.9rem;
}

@media only screen and (max-width: 37.5em) {
  .jobs {
    margin: 0;
  }
}

.job {
  -webkit-animation: moveInRight 1s ease-in-out;
          animation: moveInRight 1s ease-in-out;
  height: 100%;
  background-color: #fafafa;
  padding: 1.5rem 2rem;
  border: 1px solid #e4e4e4;
}

.job__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.job__status h3 {
  left: 0;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
}

.job__status--to-do, .job__status--progress, .job__status--done {
  margin-bottom: 1rem;
}

.job__status--to-do {
  background-color: #a0a0a0;
}

.job__status--progress {
  background-color: #07377e;
}

.job__status--done {
  background-color: #198754;
}

.job__status svg {
  right: 0;
}

.job__status-list {
  padding: 1.6rem;
  margin-top: 1.5rem;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  row-gap: 1.2rem;
  min-height: 8.7rem;
}

.job__status-list--priority, .job__status-list--text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
  margin-right: 1rem;
  grid-row: 1/-1;
}

.job__status-list--text {
  display: block;
}

.job__status-list--text p {
  margin-top: 1rem;
}

.job__status-list--delete-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.job__status-list--delete, .job__status-list--info {
  display: none;
}

.job__status-list:hover .job__status-list--delete,
.job__status-list:hover .job__status-list--info {
  display: block;
}

.job__status-add {
  margin-top: 3.2rem;
}

.job__status-add--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  text-transform: uppercase;
}

.job__status-add--btn h3 {
  color: #0072bc;
}

.job__status-add--btn svg {
  fill: #0072bc;
  margin-right: 0.8rem;
}

.modal {
  position: fixed;
  min-height: 100vh;
  min-width: 100vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99;
  background: rgba(32, 32, 32, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal h3 {
  font-size: 14px;
  font-weight: 500;
  font-family: "DM Sans", "open sans";
  text-transform: capitalize;
  color: #211c28;
}

.modal h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  width: 2rem;
}

.modal input[type="radio"] {
  /* ...existing styles */
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.modal input[type="radio"]::before {
  content: "";
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out, 120ms -webkit-transform ease-in-out;
  -webkit-box-shadow: inset 1em 1em var(--form-control-color);
          box-shadow: inset 1em 1em var(--form-control-color);
}

.modal input[type="radio"]:checked::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 500px;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.modal__title {
  background-color: #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 15px;
}

.modal__body, .modal__btns {
  padding: 1.5rem;
}

.modal__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-column-gap: 0.8rem;
          column-gap: 0.8rem;
  padding-bottom: 2.5rem;
}

.modal__btns button {
  height: 3.4rem;
  width: 6rem;
  background: #0072bc;
  border-radius: 2px;
  border: none;
  color: #fff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.addJob {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.addJob button {
  height: 5.8rem;
  width: 22.8rem;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.addJob__file {
  background: #808080;
  border: none;
  color: #ffffff;
}

.addJob__manually {
  background: #e9e9e9;
  border: 1px solid #cccccc;
  color: #4a4a4a;
}

.selectJob__addbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.73rem;
          column-gap: 0.73rem;
  cursor: pointer;
}

.selectJob__addbtn span {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height */
  /* ARRTSM/Blue */
  color: #0072bc;
}

.selectVaccum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.toggle__sidebar {
  position: absolute;
  font-weight: 900;
  font-size: 2.5rem;
  z-index: 1;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  text-align: end;
  -webkit-animation: moveInLeft 1s ease-in-out;
          animation: moveInLeft 1s ease-in-out;
}

.toggle__sidebar:hover {
  color: #0072bc;
}

@media only screen and (max-width: 78.12em) {
  .toggle__sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    right: 50%;
    -webkit-transform: translate(20%, 0%);
            transform: translate(20%, 0%);
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 5rem;
    width: 5rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .toggle__sidebar {
    background: rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 5px 5px 6px #0000002e;
            box-shadow: 5px 5px 6px #0000002e;
    padding: 0px 1.2rem;
    height: 5rem;
    width: 5rem;
    top: 8rem;
    -webkit-transform: none;
            transform: none;
    right: -4.5rem;
    border-radius: 0 50% 50% 0;
  }
  .toggle__sidebar:hover {
    border: 1px solid #0072bc;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-left: none;
    background: #fff;
    -webkit-box-shadow: 5px 5px 6px #0072bc1a;
            box-shadow: 5px 5px 6px #0072bc1a;
  }
}

.toggle__sidebar span {
  -webkit-animation: 1s toggleLeft 1s ease-in-out infinite;
          animation: 1s toggleLeft 1s ease-in-out infinite;
}

.toggle__navigation {
  position: absolute;
  font-weight: 900;
  font-size: 2.5rem;
  display: none;
  right: 2rem;
  top: 0rem;
}

@media only screen and (max-width: 56.25em) {
  .sidebar__checkbox:checked ~ .navigation {
    position: absolute;
    z-index: 1;
    margin: 0;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    height: calc(100vh - 8rem);
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 5px #0000001a;
            box-shadow: 0px 4px 5px #0000001a;
  }
}

@media only screen and (max-width: 78.12em) {
  .sidebar__checkbox:checked ~ .navigation .toggle__navigation {
    display: block;
  }
  .sidebar__checkbox:checked ~ .toggle__sidebar {
    display: none;
  }
  .sidebar__checkbox:checked ~ .navigation {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  .sidebar__checkbox:checked ~ .navigation .navigation__nav--hide-on-tab {
    display: block !important;
    opacity: 1;
    -webkit-animation: moveInRight 0.8s ease;
            animation: moveInRight 0.8s ease;
  }
  .sidebar__checkbox:checked ~ .navigation .navigation__nav {
    -webkit-animation: moveInRight 0.8s ease;
            animation: moveInRight 0.8s ease;
  }
}

.pagination {
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2.2rem 0;
  color: #a0a0a0;
}

.pagination__no {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2.7rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 2.7rem);
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.pagination__no--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.4rem;
  width: 2.7rem;
  background-color: #fff;
  text-align: center;
  border: 0.4px solid #dadada;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
}

.pagination__no--btn:not(:last-child) {
  margin-right: 2.3rem;
}

.pagination__no--btn:hover, .pagination__no--btn.active {
  background-color: #e6f5ff;
  border-color: #0072bc;
}

.header {
  top: 0;
  padding: 0 3rem;
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  height: 8rem;
  background-color: #0072bc;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column: 1/-1;
}

.header__logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 17vw;
  -webkit-animation: moveInLeft 1s ease-in-out;
          animation: moveInLeft 1s ease-in-out;
}

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: moveInRightRough 1s ease-in-out;
          animation: moveInRightRough 1s ease-in-out;
}

.header__user--img {
  margin-right: 0.5rem;
  width: 3.2rem;
}

@media only screen and (max-width: 56.25em) {
  .header__user--img {
    width: 2.5rem;
  }
}

.header__user--title {
  color: #f0f0f0;
  font-style: normal;
  font-weight: normal;
}

.sidebar {
  left: 0;
  position: relative;
  min-height: calc(100vh - 8rem);
  z-index: 2;
  background: #fff;
  border-right: 1px solid #f0f0f0;
}

@media only screen and (max-width: 56.25em) {
  .sidebar {
    top: 8rem;
    position: fixed;
    width: 0rem;
  }
}

.wrapper {
  width: 100%vw;
  height: 100%vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tools {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (max-content)[2];
      grid-template-rows: repeat(2, -webkit-max-content);
      grid-template-rows: repeat(2, max-content);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.9rem;
}

@media only screen and (max-width: 37.5em) {
  .tools {
    margin: 0;
  }
}

.tools__checkbox, .tools__checkbox--checked {
  background-color: #f0f0f0;
  height: 2.4rem;
  width: 2.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  margin: 0 auto;
  position: relative;
}

.tools__checkbox svg, .tools__checkbox--checked svg {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.tools__checkbox--checked svg {
  display: block;
}

.logs {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (max-content)[2];
      grid-template-rows: repeat(2, -webkit-max-content);
      grid-template-rows: repeat(2, max-content);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.9rem;
}

@media only screen and (max-width: 37.5em) {
  .logs {
    margin: 0;
  }
}

.logs__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  word-break: keep-all;
}

.logs__message a {
  white-space: nowrap;
  margin-left: 0.5rem;
}
/*# sourceMappingURL=main.css.map */